/* .container {
  padding: 0 2rem;
} */

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.heroContainer {
  background-image: url('../public/images/homepage-images/hero-main.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  background-position: center center;
}

.heroOverlay {
  text-align: center;
  color: white;
}

.header {
background-color: #35527a;
padding-bottom: 1rem;
}

.logo {
  text-align: center;
  padding-top: 1rem;
}

.navMenu {
  margin-top: 3.5rem;
  text-align: center;
  font-weight: 500;
}

.navMenu ul li{
  display: inline;
  margin: 1.3rem;
  color: white;
}

.insuranceCompanies {

}
